<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Error</title>
        <link rel="stylesheet" href="/static/css/err.css" />
    </head>
    <body>
        <h1>찾을 수 없는 페이지입니다.</h1>
        <p>죄송합니다. 현재 페이지는 찾을 수 없는 페이지입니다.</p>
    </body>
</html>
