<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Error</title>
        <style>
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                margin: 0;
                background-color: #ffffff; /* 배경 색상 설정 */
            }

            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }

            button {
                margin-top: 20px; /* 버튼과 이미지 간의 간격 설정 */
                padding: 10px 20px;
                font-size: 16px;
                background-color: #ffc801; /* 버튼 배경 색상 설정 */
                color: #fff;
                border: none;
                border-radius: 5px;
                text-decoration: none;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <img src="/static/img/404.jpg" alt="404 Not Found" width="600px" />
        <a href="/"><button>main</button></a>
    </body>
</html>
