<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>500 Error</title>
        <link rel="stylesheet" href="/static/css/err.css" />
    </head>
    <body>
        <h1>500</h1>
        <h3>Internal Server Error</h3>
        <p>
            죄송합니다. 현재 서버에서 오류가 발생하여 요청을 처리할 수 없습니다.
        </p>
    </body>
</html>
