<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>구글 로그인 테스트용 페이지 입니다.</title>
    </head>
    <body>
        <h2>구글 로그인 테스트용 페이지 입니다.</h2>
        <a href="/google/login">구글 로그인</a>
        <a href="/google/signup">구글 회원가입</a>
    </body>
</html>
