<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>job list</title>
        <!-- axios CDN -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <p>job</p>
        <% for (let i= 0; i < data.length; i++) { %>
        <a href="/jobs/<%=data[i].jobs_id%>"><%=data[i].company_name%></a>
        <br />
        <%}%>
    </body>
    <script></script>
</html>
