body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    flex-direction: column;
}

div[name="jobs"] {
    text-align: left;
    max-width: 900px;
    width: 100%;
    padding: 20px;
}

.profile {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ccc;
}

/* 전체 text박스 */
.text-input {
    max-width: 900px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

/* 선택된 상태일 때의 스타일 */
.text-input:focus {
    border-color: #2c88d9;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 비활성화된 상태일 때의 스타일 */
.text-input:disabled {
    background-color: #f0f0f0;
    color: #999999;
}

/* textarea 공통 CSS */
.textarea-input {
    width: 900px;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* 선택된 상태일 때의 스타일 */
.textarea-input:focus {
    border-color: #2c88d9;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 비활성화된 상태일 때의 스타일 */
.textarea-input:disabled {
    background-color: #f0f0f0;
    color: #999999;
}

/* 전체 버튼 */
.input-file-button {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #2c88d9;
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* 경력 */
div[name="form-check"] {
    padding-left: 20px;
}

#stackButtons {
    display: flex;
}

/* 경력 부분에만 적용되는 스타일 */
#stackButtons .form-check-input {
    display: none;
}

.button-label {
    background-color: #ffffff;
    color: #2c88d9;

    border: 2px solid #2c88d9;

    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.form-check-input:checked + .button-label {
    background-color: #2c88d9;
    color: #fff;

    border: 2px solid #2c88d9;
}

/* 마감일 */
input[type="datetime-local"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* 선택된 상태일 때의 스타일 */
input[type="datetime-local"]:focus {
    border-color: #2c88d9;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 비활성화된 상태일 때의 스타일 */
input[type="datetime-local"]:disabled {
    background-color: #f0f0f0;
    color: #999999;
}

/* 주의 문구 */
label[name="warning"] {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}

.input-file-button[id="submit-button"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
}
