/* 전역 설정 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

button:hover {
    cursor: pointer;
}

.hiddenC {
    display: none;
}

.hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.mainBlock {
    width: 60vw;
}

/* 헤더 */
header {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.circle {
    width: 10px; /* 동그라미의 너비 */
    height: 10px; /* 동그라미의 높이 */
    margin-left: 20px; /* 동그라미 사이의 간격 */
    background-color: black; /* 동그라미의 색상 */
    border-radius: 50%; /* 원형으로 만들기 위한 설정 */
    display: inline-block; /* 동그라미를 옆으로 나열하기 위한 설정 */
    margin-left: 3px;
    margin-right: 3px;
}
.circle:first-child {
    margin-left: 15px; /* 첫 번째 동그라미의 왼쪽 여백을 20px로 설정 */
}
.top-bar {
    display: flex; /* 자식 요소를 flex 아이템으로 만듦 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 양 끝 정렬 */
    /* 기존의 .top-bar 스타일 */
    background-color: #f0f0f0;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.darkSwitch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home {
    color: #aaa;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    margin: 10px;
    justify-self: flex-end;
}

/* 회사 정보 */
.company {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.companyName {
    margin: 0;
    font-size: 1.5em;
    font-weight: 900;
}
.experienceLevel {
    margin: 5px;
    font-size: 1em;
    color: darkgray;
}

.likeCount {
    border: 1px solid #c41b1b;
    border-radius: 5px;
    color: #c41b1b;
    padding: 1px 4px;
}

/* 본문 */
.skills p {
    display: inline;
    padding: 0 3px;
    margin: 0 3px;
    border: 1px #2c88d9 solid;
    border-radius: 5px;
    color: #2c88d9;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #2c88d9;
    background-color: #eee;
}
a:active {
    color: #2c88d9;
    background-color: #ddd;
}

/* 지도 div */
#map {
    width: 100%;
    height: 50vh;
    margin-top: 10px;
}

#mapEdit {
    width: 900px;
    height: 400px;
    margin-top: 10px;
}

.editReqButton {
    padding: 0.5em 0.75em;
    background-color: #2c88d9;
    border: 0px;
    border-radius: 5px;
    color: white;
}
.deleteButton {
    padding: 0.5em 0.75em;
    background-color: #db4a4a;
    border: 0px;
    border-radius: 5px;
    color: white;
}

/* 댓글 */
.comments {
    width: 60vw;
}

.comments form textarea {
    width: 97%;
    height: 4em;
    margin: 5px 0;
    padding: 15px;
    resize: none;
}

.commentBox {
    border: 1px solid darkgray;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 15px;
}
.commentBox .writer {
    display: inline;
    font-weight: 700;
}
.commentBox .registerDate {
    display: inline;
    color: #aaa;
    font-size: 0.9em;
}
.commentBox .commentButtons {
    position: absolute;
    right: 20%;
    margin: 0 5px;
}
.commentBox .commentButtons span {
    color: #aaa;
}
.editReqCommentButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #aaa;
}
.deleteCommentButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #aaa;
}

.editCommentButton {
    background-color: #2c88d9;
    border: 0px;
    border-radius: 5px;
    color: white;
}
.editCancelCommentButton {
    background-color: #2c88d9;
    border: 0px;
    border-radius: 5px;
    color: white;
}

.commentButton {
    padding: 0.5em 0.75em;
    background-color: #2c88d9;
    border: 0px;
    border-radius: 5px;
    color: white;
}
